/* styles/carousel.css */
.carousel {
  display: flex;
  overflow-x: hidden;
  position: relative; /* Ensure the carousel container has a relative position */
  width: 100%;
  height: 100vh;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%; /* Set the width of each carousel item to 100% */
  opacity: 1; /* Initially hide all items */
  position: absolute; /* Position them absolutely to overlap */
  top: 0; /* Align all items to the top of the container */
  left: 0; /* Start all items at the left edge of the container */
}

/* Active item style */
.carousel-item.active {
  opacity: 1;
  transform: translateX(0); /* Move active item to the center */
  transition: transform 0.5s ease-in-out;
}

/* Move the active item to the left when pressing "Previous" */
.carousel-item.previous {
  transform: translateX(-100%);
}
.carousel-item.previous-show {
  transition: transform 0.5s ease-out;
}

// /* Move the active item to the right when pressing "Next" */
.carousel-item.next {
  transform: translateX(100%);
}
.carousel-item.next-show {
  transition: transform 0.5s ease-in;
}
